<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register to Vote</a></li>
      <li><a href="/favorites">Your Candidates</a></li>
      <li>
          <form action="/search?key=pumpkin" method="post" id="search-form" class="form-inline">
            <input type="text" id="movie" placeholder="Your District" name="searchDisrtrict" />
            <input type="text" placeholder="Your Candidate" name="searchCandidate" />
            <input type="submit" class="btn btn-primary" />
          </form>
      </li>      
    </ul>
  </div>
</nav>